{% extends "base.html"%}
{% load static %}
{% block content %}
    

<div class="my-5 px-4">
  <h2 class="fw-bold h-font text-center">Бидний Тухай</h2>
      
  <div class="h-line bg-dark"></div>
        
</div>
      
<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-lg-6 col-md-5 mb-4 order-lg-1 order-md-1 order-2">
      <h3 class="mb-3">Зочид буудал</h3>
      <p>
          Бизнес ангиллын 4 одны зэрэглэлтэй Ханду зочид буудал нь европ хэв маяг дээр монгол үндэсний өнгө төрхийг
           шингээсэн өвөрмөц дотоод засал, тав тух, тансаг байдлыг хослуулсан ба Гадаад дотоодын зочид төлөөлөгч, 
           эрхэм үйлчлүүлэгч та бүхний тав тухыг хангах зай талбай том 56 зочид буудлын өрөө, мэргэжлийн тогоочийн 
           амт чанартай өглөө өдөр оройн хоолоор үйлчилж байна.  Цэвэр тохилог, ая тухтай, 
           шинэлэг интерьер бүхий аюулгүй орчин та бүхнийг угтах болно. 
      </p>
    </div>
    <div class="col-lg-5 col-md-5 mb-4 order-lg-2 order-md-2 order-1">
      <img src="{% static 'img/slider8.jpg' %}" class="w-100">
    </div>
  </div>
  <div class="row justify-content-between align-items-center">
    <div class="col-lg-5 col-md-5 mb-4 order-lg-1 order-md-1 order-2">
      <img src="{% static 'img/slider8.jpg' %}" class="w-100">
    </div>
    <div class="col-lg-6 col-md-5 mb-4 order-lg-2 order-md-2 order-1">
      <h3 class="mb-1">Үйлчилгээ</h3>
        <br> Уулзалт, сургалт зохион байгуулах 30 хүний хурлын заал 
        <br> 400 хүртэлх зочин хүлээн авах EVENT HALL танхим  
        <br> Ил болон далд авто машины зогсоол
        <br> Өндөр хурдны интернет
        <br> Халуун ус, шүршүүр  
        <br> Уламжлалт бариа засал 
        <br> B1 давхараас буудал уруу цахилгаан шатаар орох боломжтой гээд бүгдийг нэг дор багтаасан хандү зочид буудалд таныг урьж байна
    
    </div>
  </div>   
</div>


   

{% endblock %}     
