{% extends "base.html"%}
{% load static %}
{% block content %}
<div class="container position-relative">
      
    <div class="my-5 px-4">
        <h2 class="fw-bold h-font text-center">Үйлчилгээний Тухай</h2>
            
        <div class="h-line bg-dark"></div>
              
    </div>
     
    <div class="row">
      <div class="col-sm-12">
          <div class="html-block-body">
            <div class="row two-col">
                <div class="col-md-6 col-1">
                    <p><strong>“УЛААНБААТАР ХУРЛЫН ТАНХИМ”</strong></p>

                    <p>“Улаанбаатар” хурлын том танхим маань 80-200 хүний тэмдэглэлт баяр, хурал семинар зэрэг бүхий л арга хэмжээг зохион байгуулах боломжтой.</p>

                    <p>Таныг олон жилийн туршлагатай мэргэжлийн чадварлаг хамт олон угтан авах болно. Манай заал нь өргөн дэлгэц, өндөр нягтралтай проектор, утасгүй микрофон, JBL брэндийн тоног төхөөрөмжөөр бүрэн тоноглогдсон нь&nbsp; таны хэрэгцээнд бүрэн нийцнэ.</p>

                    <p>Хэмжээ: <strong>172м2</strong><br>
                    Дан сандал: <strong>200 хүн</strong><br>
                    Дугуй ширээ: <strong>130 хүн</strong><br>
                    Сурагч ширээ: <strong>120 хүн</strong><br>
                    П хэлбэр: <strong>45 хүн</strong><br> 
                    <br>
                    <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2" data-bs-toggle="modal" data-bs-target="#OrderModel">Захиалах</button>
                    </p>
                </div>

                
                <div class="col-md-6 col-2">
                <p><img src="{% static 'img/slider8.jpg' %}" class="w-100"></p>
                </div>
                
            </div>  
            <div class="row two-col">
                <div class="col-md-6 col-1">
                <p><img src="{% static 'img/slider8.jpg' %}" class="w-100"></p>
                </div>
        
                <div class="col-md-6 col-2">
                    <p><strong>“ӨРГӨӨ” ХУРЛЫН ТАНХИМ</strong></p>
        
                    <p>“Өргөө” хурлын бага танхим нь нэг дор 40-80 хүний багтаамжтай ба чадварлаг мэргэжлийн хамт олон танд үйлчлэх болно. Манай заал нь өргөн дэлгэц, өндөр нягтралтай проектор, утасгүй микрофон, JBL брэндийн тоног төхөөрөмжөөр бүрэн тоноглогдсон нь&nbsp; таны хэрэгцээнд бүрэн нийцнэ.</p>
        
                    <p>Хэмжээ: <strong>110м2</strong><br>
                    Дан сандал: <strong>80 хүн</strong><br>
                    Дугуй ширээ: <strong>60 хүн</strong><br>
                    Сурагч ширээ: <strong>60 хүн</strong><br>
                    П хэлбэр: <strong>30 хүн</strong> <br>
                    <br>
                    <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2" data-bs-toggle="modal" data-bs-target="#OrderModel">Захиалах</button>
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>









{% endblock%}




